.App {
  text-align: center;
  max-width: 380px;
}

.App-logo {
  height: 80px;
  /*animation: App-logo-spin infinite 20s linear;*/
}

.App-header {
  background-color: rgba(0, 0, 0, 1);
  height: 150px;
  padding: 40px;
  color: white;
}

.App-intro {
  font-size: large;
  background-color: rgba(245, 245, 146, 0.5);
  padding: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
